*.log
*.pyc
.idea/*
docs/_build/*
.coverage
.coveragerc
venv/*
generated_descriptions/*
tests/cache/*
/pipelines/wormbase/generated_descriptions/
/pipelines/wormbase/gene_descriptions_cache/
/pipelines/alliance/generated_descriptions/
